html, body, * {
  box-sizing: border-box;
}

 a {
  background:beige
}

footer {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(94, 117, 83, 0.6);
}


header {
  background: brown;
}

img {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5px;
  width: 200px;
  height: 200px;
}

p {
  max-width: 200px;
  float: none;
}

ul {
  list-style: none;
}
/* CLASS STYLINGS */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*ID styling*/

#strikethrough {
  text-decoration: line-through;
}
